src/main/resources/xsd/station_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://station.soap.xml"
    targetNamespace="http://station.soap.xml"
    elementFormDefault="qualified"
>

    <!-- Definindo o tipo para o cabeçalho -->
    <xs:complexType name="HeaderType">
        <xs:sequence>
            <!-- Token de sessão -->
            <xs:element name="AuthToken" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="AddStationRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Header" type="tns:HeaderType" />
          </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Definition of type "geoLocation" -->
    <xs:complexType name="GeoLocationType">
        <xs:sequence>
            <!-- pais -->
            <xs:element name="pais" type="xs:string" />
            <!-- provincia -->
            <xs:element name="provincia" type="xs:string" />
            <!-- municipio -->
            <xs:element name="municipio" type="xs:string" />
            <!-- distrito -->
            <xs:element name="distrito" type="xs:string" />
            <!-- avenida -->
            <xs:element name="avenida" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <!-- Definition of element "station" -->
    <xs:element name="GetStationDetailsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header" type="tns:HeaderType" />
                <xs:element name="Body">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:long" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Definition of the Complex Type for Dock -->
    <xs:complexType name="DockType">
        <xs:sequence>
            <!-- id of dock -->
            <xs:element name="idDock" type="xs:long" />
            <!-- name of dock -->
            <xs:element name="reference" type="xs:string" />
            <!-- state of dock -->
            <xs:element name="state" type="xs:int" />
            <!-- dock info of connection with beacon -->
            <xs:element name="info" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="StationResponse">
        <xs:complexType>
            <xs:sequence>
                <!-- retorno da confirmação da inserção -->
                <xs:element name="estado" type="xs:boolean" />
                <!-- mensagem do estado -->
                <xs:element name="mensagem" type="xs:string" />
                <!-- código de estado -->
                <xs:element name="stateCode" type="xs:int" />
                <!-- id -->
                <xs:element name="id" type="xs:long" />
                <!-- email -->
                <xs:element name="name" type="xs:string" />
                <!-- bonus value of station -->
                <xs:element name="bonus" type="xs:int" />
                <!-- qtd of Docks -->
                <xs:element name="qtdDocks" type="xs:int" />
                <!-- qtd docks disponiveis -->
                <xs:element name="qtdDocksDispo" type="xs:int" />
                <!-- nome do local -->
                <xs:element name="localName" type="xs:string" />
                <!-- pais -->
                <xs:element name="pais" type="xs:string" />
                <!-- provincia -->
                <xs:element name="provincia" type="xs:string" />
                <!-- municipio -->
                <xs:element name="municipio" type="xs:string" />
                <!-- distrito -->
                <xs:element name="distrito" type="xs:string" />
                <!-- avenida -->
                <xs:element name="avenida" type="xs:string" />
                <!-- quantidade de latitude -->
                <xs:element name="latitude" type="xs:float" />
                <!-- quantidade de longitude -->
                <xs:element name="longitude" type="xs:float" />
                <!-- conjuntode docas of a station -->
                <xs:element name="dockItem" type="tns:DockType" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetStationDetailsResponse">
        <xs:complexType>
            <xs:sequence>
                <!-- retorno da confirmação da inserção -->
                <xs:element name="estado" type="xs:boolean" />
                <!-- mensagem do estado -->
                <xs:element name="mensagem" type="xs:string" />
                <!-- código de estado -->
                <xs:element name="stateCode" type="xs:int" />
                <!-- id -->
                <xs:element name="id" type="xs:long" />
                <!-- email -->
                <xs:element name="name" type="xs:string" />
                <!-- bonus value of station -->
                <xs:element name="bonus" type="xs:int" />
                <!-- quantidade de nome do local -->
                <xs:element name="localName" type="xs:string" />
                <!-- pais -->
                <xs:element name="pais" type="xs:string" />
                <!-- provincia -->
                <xs:element name="provincia" type="xs:string" />
                <!-- municipio -->
                <xs:element name="municipio" type="xs:string" />
                <!-- distrito -->
                <xs:element name="distrito" type="xs:string" />
                <!-- avenida -->
                <xs:element name="avenida" type="xs:string" />
                <!-- GEOlOCATION -->
                <!--xs:element name="geoLocation" type="tns:GeoLocationType" /-->
                <!-- quantidade de latitude -->
                <xs:element name="latitude" type="xs:float" />
                <!-- quantidade de longitude -->
                <xs:element name="longitude" type="xs:float" />
                <!-- conjuntode docas of a station -->
                <xs:element name="dockItem" type="tns:DockType" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Definition of all elements "station" -->
    <xs:element name="AllStationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header" type="tns:HeaderType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Definition of all elements "station more proxime" -->
    <xs:element name="AllStationMoreProximeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header" type="tns:HeaderType" />
                <xs:element name="Body">
                  <xs:complexType>
                    <xs:sequence>
                      <!-- id of ciclista down Bike -->
                      <xs:element name="latitude" type="xs:double" />
                      <!-- reference of dock modified -->
                      <xs:element name="longitude" type="xs:double" />
                      <!-- info-Beacon of the Bike -->
                      <xs:element name="radius" type="xs:double" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Definition of type "station" response -->
    <xs:complexType name="StationResponseType">
        <xs:sequence>
            <!-- id -->
            <xs:element name="id" type="xs:long" />
            <!-- station's name -->
            <xs:element name="name" type="xs:string" />
            <!-- bonus value of station -->
            <xs:element name="bonus" type="xs:int" />
            <!-- qtd of Docks -->
            <xs:element name="Docks" type="xs:int" />
            <!-- qtd docks disponiveis -->
            <xs:element name="DocksDisp" type="xs:int" />
            <!-- nome do local -->
            <xs:element name="localName" type="xs:string" />
            <!-- pais -->
            <xs:element name="pais" type="xs:string" />
            <!-- provincia -->
            <xs:element name="provincia" type="xs:string" />
            <!-- municipio -->
            <xs:element name="municipio" type="xs:string" />
            <!-- distrito -->
            <xs:element name="distrito" type="xs:string" />
            <!-- avenida -->
            <xs:element name="avenida" type="xs:string" />
            <!-- latitude -->
            <xs:element name="latitude" type="xs:float" />
            <!-- longitude -->
            <xs:element name="longitude" type="xs:float" />
            <!-- distância -->
            <xs:element name="distancia" type="xs:int" />
        </xs:sequence>
    </xs:complexType>

    <!-- Definition of all elements "station" response -->
    <xs:element name="AllStationResponse">
        <xs:complexType>
            <xs:sequence>
                <!-- retorno da confirmação da inserção -->
                <xs:element name="estado" type="xs:boolean" />
                <!-- mensagem do estado -->
                <xs:element name="mensagem" type="xs:string" />
                <!-- código de estado -->
                <xs:element name="stateCode" type="xs:int" />
                <!-- retorno da lista de todas as estações -->
                <xs:element name="stationItem" type="tns:StationResponseType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

  <xs:element name="UpBikeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" type="tns:HeaderType" />
        <xs:element name="Body">
          <xs:complexType>
            <xs:sequence>
              <!-- id of ciclista up Bike -->
              <xs:element name="idCiclista" type="xs:long" />
              <!-- reference of dock modified -->
              <xs:element name="referenceDock" type="xs:string" />
              <!-- info-Beacon of the Bike -->
              <xs:element name="info" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="UpBikeResponse">
    <xs:complexType>
      <xs:sequence>
        <!-- retorno da confirmação da levantamento -->
        <xs:element name="estado" type="xs:boolean" />
        <!-- mensagem do estado -->
        <xs:element name="mensagem" type="xs:string" />
        <!-- código de estado -->
        <xs:element name="stateCode" type="xs:int" />
        <!-- mensagem do estado do ciclista que indica se o ciclista tem(1) ou não(0) uma bike -->
        <xs:element name="estadoCiclista" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="DownBikeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" type="tns:HeaderType" />
        <xs:element name="Body">
          <xs:complexType>
            <xs:sequence>
              <!-- id of ciclista down Bike -->
              <xs:element name="idCiclista" type="xs:long" />
              <!-- reference of dock modified -->
              <xs:element name="referenceDock" type="xs:string" />
              <!-- info-Beacon of the Bike -->
              <xs:element name="info" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="DownBikeResponse">
    <xs:complexType>
      <xs:sequence>
        <!-- retorno da confirmação da devolução -->
        <xs:element name="estado" type="xs:boolean" />
        <!-- mensagem do estado -->
        <xs:element name="mensagem" type="xs:string" />
        <!-- código de estado -->
        <xs:element name="stateCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

    <!-- Definition request AddDock method -->
    <xs:element name="AddDockReq">
        <xs:complexType>
            <xs:sequence>
              <xs:element name="Header" type="tns:HeaderType" />
              <xs:element name="Body">
                <xs:complexType>
                  <xs:sequence>
                    <!-- id of dock -->
                    <xs:element name="station" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Definition response AddDock method -->
    <xs:element name="AddDockResp">
        <xs:complexType>
            <xs:sequence>
                <!-- id of dock -->
                <xs:element name="estado" type="xs:boolean" />
                <!-- mensagem do estado -->
                <xs:element name="mensagem" type="xs:string" />
                <!-- código de estado -->
                <xs:element name="stateCode" type="xs:int" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Definition request deleteDock method -->
    <xs:element name="DeleteDockReq">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header" type="tns:HeaderType" />
              <xs:element name="Body">
                <xs:complexType>
                  <xs:sequence>
                    <!-- id of dock -->
                    <xs:element name="reference" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Definition response deleteDock method -->
    <xs:element name="DeleteDockResp">
        <xs:complexType>
            <xs:sequence>
                <!-- id of dock -->
                <xs:element name="estado" type="xs:boolean" />
                <!-- mensagem do estado -->
                <xs:element name="mensagem" type="xs:string" />
                <!-- código de estado -->
                <xs:element name="stateCode" type="xs:int" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="TestStationRequest">
        <xs:complexType>
            <xs:sequence>
              <xs:element name="Header" type="tns:HeaderType" />
              <xs:element name="Body">
                <xs:complexType>
                  <xs:sequence>
                    <!-- id of Station -->
                    <xs:element name="id" type="xs:long" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="TestStationResponse">
        <xs:complexType>
            <xs:sequence>
                <!-- id of dock -->
                <xs:element name="estado" type="xs:boolean" />
                <!-- mensagem do estado -->
                <xs:element name="mensagem" type="xs:string" />
                <!-- código de estado -->
                <xs:element name="stateCode" type="xs:int" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
