src/main/resources/xsd/user_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://user.soap.xml"
	targetNamespace="http://user.soap.xml"
	elementFormDefault="qualified"
>

  <!-- Definindo o tipo para o cabeçalho -->
  <xs:complexType name="HeaderType">
    <xs:sequence>
      <!-- Token de sessão -->
      <xs:element name="AuthToken" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Definição da requisição Logout" -->
  <xs:element name="LogoutRequest">
    <xs:complexType>
      <xs:sequence>
      <!-- Token de sessão -->
       <xs:element name="email" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

    <!-- Definição da requisição LogoutResponse" -->
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
      <!-- Token de sessão -->
        <!-- mensagem do estado -->
        <xs:element name="mensagem" type="xs:string" />
        <!-- código de estado -->
        <xs:element name="estado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Definition da request Validate de Session" -->
  <xs:element name="ValidateTokenRequest">
    <xs:complexType>
      <xs:sequence>
        <!-- Token de sessão -->
        <xs:element name="AuthToken" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Definition da request Validate de Session" -->
  <xs:element name="ValidateTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <!-- Token de sessão -->
        <xs:element name="estado" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Definição da requisição logout" -->
  <xs:element name="LoginRequest">
    <xs:complexType>
      <xs:sequence>
        <!-- email -->
        <xs:element name="email" type="xs:string" />
        <!-- password -->
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- Definição do elemento "user" -->
  <xs:element name="AddUserRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" type="tns:HeaderType" />
        <xs:element name="Body">
          <xs:complexType>
            <xs:sequence>
              <!-- email -->
              <xs:element name="email" type="xs:string" />
              <!-- password -->
              <xs:element name="password" type="xs:string" />
              <!-- nome -->
              <xs:element name="username" type="xs:string" />
              <!-- nomecompleto -->
              <xs:element name="nomecompleto" type="xs:string" />
              <!-- genero -->
              <xs:element name="genero" type="xs:string" />
              <!-- foto -->
              <xs:element name="foto" type="xs:string" />
              <!-- tipo -->
              <xs:element name="tipo" type="xs:int" />
              <!-- nacionalidade -->
              <xs:element name="nacionalidade" type="xs:string" />
              <!-- profissao -->
              <xs:element name="profissao" type="xs:string" />
              <!-- telefone -->
              <xs:element name="telefone" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


 <!-- Definição do LoginResponse "user" -->
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" type="tns:HeaderType" />
        <xs:element name="User">
          <xs:complexType>
            <xs:sequence>
              <!-- email -->
              <xs:element name="email" type="xs:string" />
              <!-- password -->
              <xs:element name="password" type="xs:string" />
              <!-- nome -->
              <xs:element name="username" type="xs:string" />
              <!-- nomecompleto -->
              <xs:element name="nomecompleto" type="xs:string" />
              <!-- genero -->
              <xs:element name="genero" type="xs:string" />
              <!-- foto -->
              <xs:element name="foto" type="xs:string" />
              <!-- tipo -->
              <xs:element name="tipo" type="xs:int" />
              <!-- nacionalidade -->
              <xs:element name="nacionalidade" type="xs:string" />
              <!-- profissao -->
              <xs:element name="profissao" type="xs:string" />
              <!-- telefone -->
              <xs:element name="telefone" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:element name="GetUserRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" type="tns:HeaderType" />
        <xs:element name="Body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Id" type="xs:long" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="UserResponse">
    <xs:complexType>
      <xs:sequence>
        <!-- retorno da confirmação da inserção -->
        <xs:element name="estado" type="xs:boolean" />
        <!-- mensagem do estado -->
        <xs:element name="mensagem" type="xs:string" />
        <!-- código de estado -->
        <xs:element name="stateCode" type="xs:int" />
        <!-- id -->
        <xs:element name="id" type="xs:long" />
        <!--id ciclista-->
        <xs:element name="ciclistaId" type="xs:long" />
        <!-- email -->
        <xs:element name="email" type="xs:string" />
        <!-- nome -->
        <xs:element name="username" type="xs:string" />
        <!-- nomecompleto -->
        <xs:element name="nomecompleto" type="xs:string" />
        <!-- genero -->
        <xs:element name="genero" type="xs:string" />
        <!--  -->
        <xs:element name="profissao" type="xs:string" />
        <!-- telefone -->
        <xs:element name="telefone" type="xs:string" />
        <!-- foto -->
        <xs:element name="foto" type="xs:string" />
        <!-- token -->
        <xs:element name="token" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AllUsersRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" type="tns:HeaderType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="UserType">
    <xs:sequence>
      <!-- id -->
      <xs:element name="id" type="xs:long" />
      <!-- email -->
      <xs:element name="email" type="xs:string" />
      <!-- nome -->
      <xs:element name="username" type="xs:string" />
      <!-- nomecompleto -->
      <xs:element name="nomecompleto" type="xs:string" />
      <!-- genero -->
      <xs:element name="genero" type="xs:string" />
      <!--  -->
      <xs:element name="profissao" type="xs:string" />
      <!-- telefone -->
      <xs:element name="telefone" type="xs:string" />
      <!-- foto -->
      <xs:element name="foto" type="xs:string" />
      <!-- token -->
      <xs:element name="token" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

  <!-- definition of user List -->
  <xs:element name="UserListResponse">
    <xs:complexType>
      <xs:sequence>
        <!-- retorno da confirmação da inserção -->
        <xs:element name="estado" type="xs:boolean" />
        <!-- mensagem do estado -->
        <xs:element name="mensagem" type="xs:string" />
        <!-- código de estado -->
        <xs:element name="stateCode" type="xs:int" />
        <xs:element name="user" type="tns:UserType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Definição da requisição logout" -->
  <xs:element name="LoginCiclistaRequest">
    <xs:complexType>
      <xs:sequence>
        <!-- email -->
        <xs:element name="email" type="xs:string" />
        <!-- password -->
        <xs:element name="password" type="xs:string" />
        <!-- informação exclusiva do dispositivo -->
        <xs:element name="fingerPrint" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- Definição do elemento "ciclista" -->
  <xs:element name="AddCiclistaRequest">
    <xs:complexType>
      <xs:sequence>
        <!-- email -->
        <xs:element name="email" type="xs:string" />
        <!-- password -->
        <xs:element name="password" type="xs:string" />
        <!-- nome -->
        <xs:element name="username" type="xs:string" />
        <!-- nomecompleto -->
        <xs:element name="nomecompleto" type="xs:string" />
        <!-- genero -->
        <xs:element name="genero" type="xs:string" />
        <!-- foto -->
        <xs:element name="foto" type="xs:string" />
        <!-- tipo -->
        <xs:element name="tipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetCiclistaRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" type="tns:HeaderType" />
        <xs:element name="Body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Id" type="xs:long" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="DeleteCiclistaRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" type="tns:HeaderType" />
        <xs:element name="Body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CiclistaId" type="xs:long" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="UpdateCiclistaRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" type="tns:HeaderType" />
        <xs:element name="Body">
          <xs:complexType>
            <xs:sequence>
              <!-- id -->
              <xs:element name="id" type="xs:long" />
              <!-- email -->
              <xs:element name="email" type="xs:string" />
              <!-- senha -->
              <xs:element name="password" type="xs:string" />
              <!-- nome -->
              <xs:element name="username" type="xs:string" />
              <!-- nomecompleto -->
              <xs:element name="nomecompleto" type="xs:string" />
              <!-- genero -->
              <xs:element name="genero" type="xs:string" />
              <!--  -->
              <xs:element name="profissao" type="xs:string" />
              <!-- telefone -->
              <xs:element name="telefone" type="xs:string" />
              <!-- foto -->
              <xs:element name="foto" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- definition of ciclista List -->
  <xs:element name="GetSaldoRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" type="tns:HeaderType" />
        <xs:element name="Body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ciclistaId" type="xs:long"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- definition of ciclista List -->
  <xs:element name="GetSaldoResponse">
    <xs:complexType>
      <xs:sequence>
        <!-- retorno da confirmação da inserção -->
        <xs:element name="estado" type="xs:boolean" />
        <!-- mensagem do estado -->
        <xs:element name="mensagem" type="xs:string" />
        <!-- código de estado -->
        <xs:element name="stateCode" type="xs:int" />
        <xs:element name="saldo" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="TransferPointsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" type="tns:HeaderType" />
        <xs:element name="Body">
          <xs:complexType>
            <xs:sequence>
              <!-- id of ciclista issuer of points-->
              <xs:element name="doadorId" type="xs:long" />
              <!-- mac-->
              <xs:element name="receptorId" type="xs:long" />
              <!-- points-->
              <xs:element name="points" type="xs:int" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="TransferPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <!-- retorno da confirmação da inserção -->
        <xs:element name="estado" type="xs:boolean" />
        <!-- mensagem do estado -->
        <xs:element name="mensagem" type="xs:string" />
        <!-- código de estado -->
        <xs:element name="stateCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="HistoricTrajectRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" type="tns:HeaderType" />
        <xs:element name="Body">
          <xs:complexType>
            <xs:sequence>
              <!-- id of ciclista issuer of points-->
              <xs:element name="ciclistaId" type="xs:long" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="HistoricTrajectResponse">
    <xs:complexType>
      <xs:sequence>
        <!-- retorno da confirmação -->
        <xs:element name="estado" type="xs:boolean" />
        <!-- mensagem da confirmação da inserção -->
        <xs:element name="mensagem" type="xs:string" />
        <!-- código de estado -->
        <xs:element name="stateCode" type="xs:int" />
        <!-- retorno da confirmação da inserção -->
        <xs:element name="trajectList" type="tns:TrajectType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="TrajectType">
    <xs:sequence>
      <!-- estaçao de partida -->
      <xs:element name="partida" type="tns:PartidaType" />
      <!-- estaçao de chegada -->
      <xs:element name="chegada" type="tns:ChegadaType" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PartidaType">
    <xs:sequence>
      <!-- estação -->
      <xs:element name="estacao" type="xs:string" />
      <!-- longitude -->
      <xs:element name="latitude" type="xs:double" />
      <!-- latitude -->
      <xs:element name="longitude" type="xs:double" />
      <!-- data -->
      <xs:element name="data" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ChegadaType">
    <xs:sequence>
      <!-- estação -->
      <xs:element name="estacao" type="xs:string" />
      <!-- longitude -->
      <xs:element name="latitude" type="xs:double" />
      <!-- latitude -->
      <xs:element name="longitude" type="xs:double" />
      <!-- data -->
      <xs:element name="data" type="xs:string" />
      <!-- bonus recedo -->
      <xs:element name="bonus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>
