src/main/resources/xsd/user_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://user.soap.xml"
	targetNamespace="http://user.soap.xml"
	elementFormDefault="qualified"
>

  <!-- Definindo o tipo para o cabeçalho -->
  <xs:complexType name="HeaderType">
    <xs:sequence>
      <!-- Token de sessão -->
      <xs:element name="AuthToken" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Definição da requisição Logout" -->
  <xs:element name="LogoutRequest">
    <xs:complexType>
      <xs:sequence>
      <!-- Token de sessão -->
       <xs:element name="email" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

    <!-- Definição da requisição LogoutResponse" -->
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
      <!-- Token de sessão -->
        <!-- mensagem do estado -->
        <xs:element name="mensagem" type="xs:string" />
        <!-- código de estado -->
        <xs:element name="estado"   type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Definition da request Validate de Session" -->
  <xs:element name="ValidateTokenRequest">
    <xs:complexType>
      <xs:sequence>
        <!-- Token de sessão -->
        <xs:element name="AuthToken" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Definition da request Validate de Session" -->
  <xs:element name="ValidateTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <!-- Token de sessão -->
        <xs:element name="estado" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Definição da requisição logout" -->
  <xs:element name="LoginRequest">
    <xs:complexType>
      <xs:sequence>
        <!-- email -->
        <xs:element name="email"    type="xs:string" />
        <!-- password -->
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>


 <!-- Definição do LoginResponse "user" -->
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
              <!-- id -->
              <xs:element name="id" type="xs:long" />
              <!-- email -->
              <xs:element name="email" type="xs:string" />
              <!-- password -->
              <xs:element name="password" type="xs:string" />
              <!-- username -->
              <xs:element name="username" type="xs:string" />
              <!-- genero -->
              <xs:element name="genero" type="xs:string" />
              <!-- tipo -->
              <xs:element name="tipo" type="xs:int" />
              <!-- datanascimento -->
              <xs:element name="datanascimento" type="xs:string" />
              <!-- telefone -->
              <xs:element name="telefone" type="xs:string" />
              <!-- status -->
              <xs:element name="status" type="xs:boolean" />
              <!-- mensagem -->
              <xs:element name="mensagem" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  
  <xs:element name="UserResponse">
    <xs:complexType>
      <xs:sequence>
        <!-- retorno da confirmação da inserção -->
        <xs:element name="estado"    type="xs:boolean" />
        <!-- mensagem do estado -->
        <xs:element name="mensagem"  type="xs:string" />
        <!-- código de estado -->
        <xs:element name="stateCode" type="xs:int" />
        <!-- id -->
        <xs:element name="id"        type="xs:long" />
        <!-- email -->
        <xs:element name="email"     type="xs:string" />
        <!-- nome -->
        <xs:element name="username"  type="xs:string" />
        <!-- datanascimento -->
        <xs:element name="datanascimento" type="xs:string" />
        <!-- genero -->
        <xs:element name="genero"    type="xs:string" />
        <!-- telefone -->
        <xs:element name="telefone"  type="xs:string" />
        <!-- token -->
        <xs:element name="token"     type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  
  <!-- Definição do elemento "user" -->
  <xs:element name="AddUserRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" type="tns:HeaderType" />
        <xs:element name="Body">
          <xs:complexType>
            <xs:sequence>
              <!-- email -->
              <xs:element name="email" type="xs:string" />
              <!-- password -->
              <xs:element name="password" type="xs:string" />
              <!-- username -->
              <xs:element name="username" type="xs:string" />
              <!-- datanascimento -->
              <xs:element name="datanascimento" type="xs:string" />
              <!-- genero -->
              <xs:element name="genero" type="xs:string" />
              <!-- tipo -->
              <xs:element name="tipo" type="xs:int" />
              <!-- telefone -->
              <xs:element name="telefone" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetUserRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header"   type="tns:HeaderType" />
        <xs:element name="Body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Id" type="xs:long" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>  

  <xs:element name="AllUsersRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" type="tns:HeaderType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="UserType">
    <xs:sequence>
      <!-- id -->
      <xs:element name="id"        type="xs:long" />
      <xs:element name="email"     type="xs:string" />
      <xs:element name="username"  type="xs:string" />
      <xs:element name="datanascimento"  type="xs:string" />
      <xs:element name="genero"    type="xs:string" />
      <xs:element name="telefone"  type="xs:string" />
      <xs:element name="token"     type="xs:string" />
    </xs:sequence>
  </xs:complexType>

  
  <!-- Definição do elemento "user" -->
  <xs:element name="UserProfileRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" type="tns:HeaderType" />
        <xs:element name="Body">
          <xs:complexType>
            <xs:sequence>
              <!-- email -->
              <xs:element name="chave"  type="xs:string" />
              <!-- password -->
              <xs:element name="valor"  type="xs:string" />
              <!-- nome -->
              <xs:element name="userId" type="xs:long" />

            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:element name="UserProfileResponse">
  <xs:complexType>
    <xs:sequence>
      <!-- Status: sucesso ou erro -->
      <xs:element name="status"    type="xs:boolean"/>
      <!-- Mensagem opcional de retorno -->
      <xs:element name="mensagem"  type="xs:string" minOccurs="0"/>
      <!-- ID do perfil criado -->
      <xs:element name="profileId" type="xs:long"   minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

  <!-- Definição do elemento "user" -->
  <xs:element name="EditUserProfileRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" type="tns:HeaderType" />
        <xs:element name="Body">
          <xs:complexType>
            <xs:sequence>
              <!-- userId -->
              <xs:element name="userId"      type="xs:long" />
              <!-- chave -->
              <xs:element name="chaveAntiga" type="xs:string" />
              <!-- valor -->
              <xs:element name="novaChaver"  type="xs:string" />
              <!-- valor -->
              <xs:element name="novoValor"   type="xs:string" />
              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="EditUserProfileResponse">
  <xs:complexType>
    <xs:sequence>
      <!-- Status: sucesso ou erro -->
      <xs:element name="status"    type="xs:boolean"/>
      <!-- Mensagem opcional de retorno -->
      <xs:element name="mensagem"  type="xs:string" minOccurs="0"/>
      <!-- ID do perfil criado -->
      <xs:element name="profileId" type="xs:long"   minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Declaração da requisição -->
    <xs:element name="AllUserProfileRequest">
        <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" type="tns:HeaderType" />
        <xs:element name="Body">
          <xs:complexType>
            <xs:sequence>
              <!-- userId -->
              <xs:element name="userId" type="xs:long" />              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
    </xs:element>

<!-- Tipo auxiliar: ParChaveValorDTO -->
  <xs:complexType name="ParChaveValorDTO">
    <xs:sequence>
      <xs:element name="chave" type="xs:string"/>
      <xs:element name="valor" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>


  <!-- Definition of all elements "UserProfile" response -->
    <xs:element name="AllUserProfileResponse">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="status"   type="xs:boolean"/>
          <xs:element name="mensagem" type="xs:string"/>
          <xs:element name="profile" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" type="tns:ParChaveValorDTO" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:element>


    <!-- Definição do elemento "user" -->
  <xs:element name="RemoveUserProfileRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" type="tns:HeaderType" />
        <xs:element name="Body">
          <xs:complexType>
            <xs:sequence>
              <!-- userId -->
              <xs:element name="userId"      type="xs:long" />
              <!-- chave -->
              <xs:element name="chave" type="xs:string" />              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RemoveUserProfileResponse">
  <xs:complexType>
    <xs:sequence>
      <!-- Status: sucesso ou erro -->
      <xs:element name="status"    type="xs:boolean"/>
      <!-- Mensagem opcional de retorno -->
      <xs:element name="mensagem"  type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
